<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Webmail</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-theme.min.css"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body ng-app="Webmail" ng-controller="WebmailCtrl">
    <div class="container">
      <div class="spacer navbar">
        <ul class="nav nav-pills navbar-left">
          <li
            ng-repeat="dossier in dossiers"
            ng-class="{ active: vueCourante == 'vueDossier' && dossier == dossierCourant }"
          >
            <a href="#/{{ dossier.value }}">{{ dossier.label }}</a>
          </li>
        </ul>
        <ul class="nav nav-pills navbar-right">
          <li ng-class="{ active: vueCourante == 'vueNouveauMail' }">
            <a href="#/nouveauMail"
              ><span class="glyphicon glyphicon-pencil"></span
            ></a>
          </li>
        </ul>
      </div>
      <div ng-show="vueCourante == 'vueDossier'">
        <div class="spacer input-group">
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
          </div>
          <input
            ng-model="recherche"
            type="text"
            class="form-control"
            placeholder="Rechercher un e-mail"
          />
          <div class="input-group-btn">
            <button ng-click="razRecherche()" class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
        </div>

        <table class="table table-striped table-hover spacer">
          <thead>
            <tr>
              <th class="colDe">
                <a ng-click="triEmail('from')">De</a>
                <span class="hspacer" ng-class="cssChevronsTri('from')"></span>
              </th>
              <th class="colA">
                <a ng-click="triEmail('to')">&Agrave;</a>
                <span class="hspacer" ng-class="cssChevronsTri('to')"></span>
              </th>
              <th class="colObjet">
                <a ng-click="triEmail('subject')">Objet</a
                ><span
                  class="hspacer"
                  ng-class="cssChevronsTri('subject')"
                ></span>
              </th>
              <th class="colDate">
                <a ng-click="triEmail('date')">Date</a
                ><span class="hspacer" ng-class="cssChevronsTri('date')"></span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              class="clickable"
              ng-repeat="email in emailsFiltres = (dossierCourant.emails | filter:recherche) |orderBy:champTri:triDescendant"
              ng-click="versEmail(dossierCourant, email)"
            >
              <td ng-bind-html="email.from  | surbrillance:recherche"></td>
              <td ng-bind-html="email.to | surbrillance:recherche"></td>
              <td ng-bind-html="email.subject | surbrillance:recherche"></td>
              <td>{{ email.date | date: "dd/MM/yyyy" }}</td>
            </tr>
          </tbody>
        </table>

        <div class="alert alert-info">
          Le dossier contient {{ emailsFiltres.length }} mails
        </div>
      </div>

      <contenu-mail
        ng-show="vueCourante == 'vueContenuMail'"
        email="emailCourant"
      ></contenu-mail>

      <nouveau-mail
        ng-show="vueCourante == 'vueNouveauMail'"
        envoi-mail="envoiMail(nouveauMail)"
      ></nouveau-mail>
    </div>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular-sanitize.min.js"
    ></script>
    <script type="text/javascript" src="./lib/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="./lib/ui-tinymce.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/i18n/angular-locale_fr-fr.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./MailServiceMock.js"></script>
    <script type="text/javascript" src="./mesDirectives.js"></script>
    <script type="text/javascript" src="./mesFiltres.js"></script>
  </body>
</html>
