.spacer {
  margin-top: 20px;
}

.hspacer {
  margin-left: 20px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #428bca;
  color: #fff;
}
.clickable:hover {
  cursor: pointer;
}

.colDe,
.colA,
.colDate {
  width: 20%;
}

.colObjet {
  width: 40%;
}

.surbrillance {
  background-color: #ffd42a;
}

.labelChampNouveauMail {
  width: 70px;
}

.input-group,
.contenuNouveauMail {
  width: 100%;
}

input.ng-dirty {
  background-color: rgba(255, 0, 0, 0.5);
}
